*{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

body, h1, h2, ul, p, div{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9fafc;
}


main{
    padding: 5px;
    margin: 5px;
}

.company{
    text-decoration: none;
}
.heading1{
    font-size: 13px;
    color: #000;
}

.heading2{
    font-size: 24px;
    color: #000;
}

.nav-item{
    margin: 5px 0;
  }

.nav-item-list{
    list-style-type: none;
}

.link {
    color: #69696a;
    text-decoration: none;
}


p {
    color: #69696a;
    margin: 10px;
}

.btn-link{
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 20px;
    display: block;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}



.header{
    padding: 10px;
    margin: 5px;
}

.left-border{
    border-left: 3px solid #69696a;
    padding: 0px;
}

.graphic{
    /* display:none; */
}

@media only screen and (min-width: 768px)
{
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-item-list{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-item{
        margin: 5px;
    }

    .graphic{
        position: relative;
        display:block;
    }


    .main{
        position: relative;
        top: 70px;
        display:flex;
        flex-direction: row;
    }

    .about{
        top: 200px;
        flex:1;
    }

    .graphic{
        flex:1;
        position: relative;
    }

    .btn-link{
        display: inline-block;
    }
    
    .circle{
        position: absolute;
        border-radius: 50%;
    }

    .circle1{ 
        height: 200px;
        width: 200px;
        background-color:  rgba(247, 136, 167, 0.6);
        right: 10%;
    }

    .circle2{
        height: 150px;
        width: 150px;
        background-color:  rgba(247, 193, 162, 0.7);
        right: 0;
        top: 55%;
    }

    .circle3{
        height: 100px;
        width: 100px;
        background-color:   rgba(207, 130, 213, 0.6);
        right: 0;
        top: 20%;

    }

    .bottom{
        position:fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }


    
}